body {
    background: #000;
}

.headerImg {
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    align-content: center;
=======
=======
>>>>>>> Stashed changes
    width: 100%;

}

.card {
    margin: 20%;
}



<<<<<<< Updated upstream
h1 {
=======
h1, h3 {
>>>>>>> Stashed changes
    color: #ffff;
    font-weight: bold;
}

<<<<<<< Updated upstream
h2 {
    color: #9999;
>>>>>>> Stashed changes
=======
h2, p {
    color: #9999;
>>>>>>> Stashed changes
}