* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url(img/light-grey-retro-game-plain-820x532.jpg);
  background-repeat: repeat;
}

/*header styling*/
header {
  background-color: #6668;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px;
}

/*icon sizing*/
header button img {
  width: 52px;
  height: 52px;
}

/*nav button styling*/
nav ul {
  list-style: none;
}

nav ul button {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5vh;
  border: none;
}

.back-transparent {
  background-color: #ffffff00;
}

.back-semi-transparent {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-button {
  text-decoration: none;
  color: #fff;
}

/*about button*/
.button-one {
  background-color: #3BB273;
  padding: 10px 2px;
  border-radius: 10%;
  box-shadow: -3px 3px 3px #339963;
}

/*projects button*/
.button-two {
  background-color: #4D9DE0;
  padding: 10px 2px;
  border-radius: 10%;
  box-shadow: -3px 3px 3px #2F8DDA;
}

/*blog button*/
.button-three {
  background-color: #E15554;
  padding: 10px 2px;
  border-radius: 10%;
  box-shadow: -3px 3px 3px #DA2F2F;
}

/*contact button*/
.button-four {
  background-color: #E1BC29;
  padding: 10px 2px;
  border-radius: 10%;
  box-shadow: -3px 3px 3px #C4A31C;
}

.profile-button {
  padding: 0px;
  height: 43px;
  vertical-align: bottom;
}

.profile {
  height: 43px;
  width: 43px;
}

/*button click hover effect*/
nav ul button:hover {
  transform: scale(.9, .9);
}

/*animation for icon*/
.logo:hover {
  animation: rumble 0.3s linear;
}


@keyframes rumble {
  25% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-20deg);
  }
}

#snes-box {
  text-align: center;
  margin-right: 100px;
}

#snes {
  width: 70%;
  height: 70%;
  margin: 0px auto;
}

@media only screen and (min-width: 768px) {

  header {
    justify-content: space-between;
  }
}

header img {
  width: 56px;
  height: 66px;
}

nav ul button {
  padding: 10px 15px;
  margin-right: 20px;
  font-size: 1em;
}

@media only screen and (min-width: 1024px) {

  header {
    justify-content: space-between;
  }
}

header img {
  width: 72px;
  height: 82px;
}

nav button {
  padding: 10px 15px;
  margin-right: 20px;
  font-size: 1.2em;
}

.logo-button {
  border: none;
  margin-left: 5%;
  border-radius: 40%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.bordocarosello {
  border: 3px solid black;
}

.carousel .carousel-indicators {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

